In [2]:
import pandas as pd
pd.set_option('display.max_colwidth', None)
import numpy as np

# Supply

In [3]:
supply = pd.read_csv("csv/supply.csv")
supply = supply.iloc[1: , 1:]
supply

                                                                                              0
1                                                                           "height": 746861,\n
2            "bestblock": "00000000000000000007d3b83149c88ca7de0c507b8adf9b3add11a936ab5595",\n
3                                                                         "txouts": 83297354,\n
4                                                                     "bogosize": 6215265292,\n
5    "hash_serialized_2": "97b683d1329e97a8bca8f3b45a8cdfedd87d630abe0db44cfe2e14a4eb76f8c4",\n
6                                                          "total_amount": 19105173.42766644,\n
7                                                                   "transactions": 49615187,\n
8                                                                     "disk_size": 5048540635\n
9                                                                                           }\n

In [4]:
supply = supply.iloc[:-1 , :]
supply = supply.transpose()

supply.columns = ['height', 'best_block', 'tx_outs', 'bogosize',
                 'hash_serialized_2', 'total_amount', 'transactions', 'disk_size']
supply

,height,best_block,tx_outs,bogosize,hash_serialized_2,total_amount,transactions,disk_size
0,"""height"": 746861,\n","""bestblock"": ""00000000000000000007d3b83149c88ca7de0c507b8adf9b3add11a936ab5595"",\n","""txouts"": 83297354,\n","""bogosize"": 6215265292,\n","""hash_serialized_2"": ""97b683d1329e97a8bca8f3b45a8cdfedd87d630abe0db44cfe2e14a4eb76f8c4"",\n","""total_amount"": 19105173.42766644,\n","""transactions"": 49615187,\n","""disk_size"": 5048540635\n"

In [5]:
supply["height"] = supply["height"].str.extract('(\d+)', expand=False)
supply["tx_outs"] = supply["tx_outs"].str.extract('(\d+)', expand=False)
supply["bogosize"] = supply["bogosize"].str.extract('(\d+)', expand=False)
supply["hash_serialized_2"] = supply["hash_serialized_2"].str.extract('(\d+)', expand=False)
supply["total_amount"] = supply["total_amount"].str.extract('(\d+)', expand=False)
supply["transactions"] = supply["transactions"].str.extract('(\d+)', expand=False)
supply["disk_size"] = supply["disk_size"].str.extract('(\d+)', expand=False)

In [6]:
supply.columns = ['Height', 'Best Block', 'UTXOs', 'bogosize',
                 'hash_serialized_2', 'Circulating Supply', 'Transactions', 'Disk Size']
supply

,Height,Best Block,UTXOs,bogosize,hash_serialized_2,Circulating Supply,Transactions,Disk Size
0,746861,"""bestblock"": ""00000000000000000007d3b83149c88ca7de0c507b8adf9b3add11a936ab5595"",\n",83297354,6215265292,2,19105173,49615187,5048540635

In [7]:
supply["Best Block"] = supply["Best Block"].str[16:-3]

In [8]:
total = 21000000
supply['Total'] = total
mined = supply['Circulating Supply']
mined = int(mined) - 50
issuance_remaining = total - mined
supply['Issuance Remaining'] = issuance_remaining
supply

,Height,Best Block,UTXOs,bogosize,hash_serialized_2,Circulating Supply,Transactions,Disk Size,Total,Issuance Remaining
0,746861,00000000000000000007d3b83149c88ca7de0c507b8adf9b3add11a936ab5595,83297354,6215265292,2,19105173,49615187,5048540635,21000000,1894877

In [9]:
supply = supply.drop(columns=['hash_serialized_2','bogosize','Best Block'])
supplyt = supply.transpose()
supplyt

                             0
Height                  746861
UTXOs                 83297354
Circulating Supply    19105173
Transactions          49615187
Disk Size           5048540635
Total                 21000000
Issuance Remaining     1894877

In [10]:
#supply.to_csv("supply_pie_data.csv")
supplyt.to_excel("supply_clean.xlsx", header=False)

# Chain Stats

In [11]:
chain_stats = pd.read_csv("csv/chain_stats.csv")
chain_stats = chain_stats.iloc[1:9 , 1:]
chain_stats

                                                                                                    0
1                                                                               "time": 1658967585,\n
2                                                                             "txcount": 752162205,\n
3    "window_final_block_hash": "00000000000000000007d3b83149c88ca7de0c507b8adf9b3add11a936ab5595",\n
4                                                              "window_final_block_height": 746861,\n
5                                                                       "window_block_count": 4320,\n
6                                                                       "window_tx_count": 7626345,\n
7                                                                       "window_interval": 2635936,\n
8                                                                       "txrate": 2.893220852099596\n

In [12]:
chain_stats = chain_stats.transpose()
chain_stats


chain_stats.columns = ['time', 'txcount', 'window_final_block_hash', 'window_final_block_height', 'window_block_count'
                ,'window_tx_count', 'window_interval', 'txrate']
chain_stats["window_final_block_hash"] = chain_stats["window_final_block_hash"].str[30:-3]
chain_stats

,time,txcount,window_final_block_hash,window_final_block_height,window_block_count,window_tx_count,window_interval,txrate
0,"""time"": 1658967585,\n","""txcount"": 752162205,\n",00000000000000000007d3b83149c88ca7de0c507b8adf9b3add11a936ab5595,"""window_final_block_height"": 746861,\n","""window_block_count"": 4320,\n","""window_tx_count"": 7626345,\n","""window_interval"": 2635936,\n","""txrate"": 2.893220852099596\n"

In [13]:
chain_stats["time"] = chain_stats["time"].str.extract('(\d+)', expand=False)
chain_stats["txcount"] = chain_stats["txcount"].str.extract('(\d+)', expand=False)
chain_stats["window_final_block_height"] = chain_stats["window_final_block_height"].str.extract('(\d+)', expand=False)
chain_stats["window_block_count"] = chain_stats["window_block_count"].str.extract('(\d+)', expand=False)
chain_stats["window_tx_count"] = chain_stats["window_tx_count"].str.extract('(\d+)', expand=False)
chain_stats["window_interval"] = chain_stats["window_interval"].str.extract('(\d+)', expand=False)
chain_stats["txrate"] = chain_stats["txrate"].str.extract('(\d+\.\d*)', expand=False)

In [14]:
chain_stats

,time,txcount,window_final_block_hash,window_final_block_height,window_block_count,window_tx_count,window_interval,txrate
0,1658967585,752162205,00000000000000000007d3b83149c88ca7de0c507b8adf9b3add11a936ab5595,746861,4320,7626345,2635936,2.893220852099596

# Mining

In [15]:
mining = pd.read_csv("csv/mining.csv")
mining = mining.iloc[2:6 , 1:]
mining

                                             0
2           "difficulty": 27692567959233.59,\n
3    "networkhashps": 2.204608923834834e+20,\n
4                         "pooledtx": 17030,\n
5                           "chain": "main",\n

In [16]:
mining = mining.transpose()

mining.columns = ['difficulty', 'networkhashps', 'pooledtx', 'chain']
mining["chain"] = mining["chain"].str[12:-3]

mining = mining.drop(columns='networkhashps')

mining["difficulty"] = mining["difficulty"].str.extract('(\d+)', expand=False)
mining["pooledtx"] = mining["pooledtx"].str.extract('(\d+)', expand=False)

mining

       difficulty pooledtx chain
0  27692567959233    17030  main

In [17]:
hashps = pd.read_csv("csv/hashps.csv")
hashps = hashps.values[0,1]
hashps = int(hashps)

mining['hashps'] = hashps

mining

       difficulty pooledtx chain                 hashps
0  27692567959233    17030  main  207161672195670310912

In [18]:
mempool = pd.read_csv("csv/mempool.csv")
mempool = mempool.iloc[2:8 , 1:]
mempool

                                  0
2                  "size": 17032,\n
3               "bytes": 8598075,\n
4              "usage": 41422992,\n
5        "total_fee": 0.51417954,\n
6        "maxmempool": 300000000,\n
7    "mempoolminfee": 0.00001000,\n

In [19]:
mempool = mempool.transpose()

mempool.columns = ['size', 'bytes', 'usage', 'total_fee', 'maxmempool', 'mempoolminfee']

mempool["size"] = mempool["size"].str.extract('(\d+)', expand=False)
mempool["bytes"] = mempool["bytes"].str.extract('(\d+)', expand=False)
mempool["usage"] = mempool["usage"].str.extract('(\d+)', expand=False)

mempool["total_fee"] = mempool["total_fee"].str.extract('(\d+\.\d*)', expand=False)
mempool["maxmempool"] = mempool["maxmempool"].str.extract('(\d+)', expand=False)

mempool["mempoolminfee"] = mempool["mempoolminfee"].str.extract('(\d+\.\d*)', expand=False)

In [20]:
mempool

    size    bytes     usage   total_fee maxmempool mempoolminfee
0  17032  8598075  41422992  0.51417954  300000000    0.00001000

In [34]:
btc_data = [supply, chain_stats, mining, mempool]
result = pd.concat(btc_data, axis=1)
result = result.transpose()
result.to_csv("csv/data_clean.csv")
result.to_excel("csv/data_clean.xlsx")