In [13]:
import pandas as pd
pd.set_option('display.max_colwidth', None)
import numpy as np

# Supply

In [14]:
supply = pd.read_csv("csv/supply.csv")
supply = supply.iloc[1: , 1:]
supply

                                                                                              0
1                                                                           "height": 746860,\n
2            "bestblock": "00000000000000000008aff563165f2628af0fee2d537556cb7cd0d9788d72c8",\n
3                                                                         "txouts": 83296455,\n
4                                                                     "bogosize": 6215204310,\n
5    "hash_serialized_2": "e7e867cfed3fb607b9e8bfa36bb057b3a888b8162e116df4ba733b7b78d3ee6c",\n
6                                                          "total_amount": 19105167.17766644,\n
7                                                                   "transactions": 49614970,\n
8                                                                     "disk_size": 5046480810\n
9                                                                                           }\n

In [15]:
supply = supply.iloc[:-1 , :]
supply = supply.transpose()

supply.columns = ['height', 'best_block', 'tx_outs', 'bogosize',
                 'hash_serialized_2', 'total_amount', 'transactions', 'disk_size']
supply

,height,best_block,tx_outs,bogosize,hash_serialized_2,total_amount,transactions,disk_size
0,"""height"": 746860,\n","""bestblock"": ""00000000000000000008aff563165f2628af0fee2d537556cb7cd0d9788d72c8"",\n","""txouts"": 83296455,\n","""bogosize"": 6215204310,\n","""hash_serialized_2"": ""e7e867cfed3fb607b9e8bfa36bb057b3a888b8162e116df4ba733b7b78d3ee6c"",\n","""total_amount"": 19105167.17766644,\n","""transactions"": 49614970,\n","""disk_size"": 5046480810\n"

In [16]:
supply["height"] = supply["height"].str.extract('(\d+)', expand=False)
supply["tx_outs"] = supply["tx_outs"].str.extract('(\d+)', expand=False)
supply["bogosize"] = supply["bogosize"].str.extract('(\d+)', expand=False)
supply["hash_serialized_2"] = supply["hash_serialized_2"].str.extract('(\d+)', expand=False)
supply["total_amount"] = supply["total_amount"].str.extract('(\d+)', expand=False)
supply["transactions"] = supply["transactions"].str.extract('(\d+)', expand=False)
supply["disk_size"] = supply["disk_size"].str.extract('(\d+)', expand=False)

In [17]:
supply.columns = ['Height', 'Best Block', 'UTXOs', 'bogosize',
                 'hash_serialized_2', 'Circulating Supply', 'Transactions', 'Disk Size']
supply

,Height,Best Block,UTXOs,bogosize,hash_serialized_2,Circulating Supply,Transactions,Disk Size
0,746860,"""bestblock"": ""00000000000000000008aff563165f2628af0fee2d537556cb7cd0d9788d72c8"",\n",83296455,6215204310,2,19105167,49614970,5046480810

In [18]:
supply["Best Block"] = supply["Best Block"].str[16:-3]

In [19]:
total = 21000000
supply['Total'] = total
mined = supply['Circulating Supply']
mined = int(mined) - 50
issuance_remaining = total - mined
supply['Issuance Remaining'] = issuance_remaining
supply

,Height,Best Block,UTXOs,bogosize,hash_serialized_2,Circulating Supply,Transactions,Disk Size,Total,Issuance Remaining
0,746860,00000000000000000008aff563165f2628af0fee2d537556cb7cd0d9788d72c8,83296455,6215204310,2,19105167,49614970,5046480810,21000000,1894883

In [20]:
supply = supply.drop(columns=['hash_serialized_2','bogosize','Best Block'])
supplyt = supply.transpose()
supplyt

                             0
Height                  746860
UTXOs                 83296455
Circulating Supply    19105167
Transactions          49614970
Disk Size           5046480810
Total                 21000000
Issuance Remaining     1894883

In [21]:
#supply.to_csv("supply_pie_data.csv")
supplyt.to_excel("supply_clean.xlsx", header=False)

# Best Block Hash